<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <% @posts.each do |post| %>

            <div class="row">
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <%= link_to(
                  image_tag("logo_mongo.png", alt: 'Logo MongoID Blog', width: "100px", height:"100px", class: "img-circle"), post, class: "story-img" ) %>
              </div>
              <div class="col-md-10 col-sm-9">
                <h3><%= post.title.capitalize %></h3>
                <div class="row">
                  <div class="col-xs-9">
                    <p> <%= truncate(post.content, length: 50, separator: ' ') %> </p>
                    <p class="lead"><%= link_to 'Leia mais', post, class: "btn btn-default" %></p>
                    <ul class="list-inline">
                      <li>Publicado em: <%= post.criado_em %></li>
                      <li><%= link_to("<i class='glyphicon glyphicon-comment'></i> #{post.how_many_comms?}".html_safe , post) %>
                      <li><%= link_to "<i class='glyphicon glyphicon-trash'></i>Apagar post".html_safe, post, method: :delete, data: { confirm: 'Tem certeza que deseja apagar o post?' } %>
                    </div>
                  <div class="col-xs-3"></div>
                </div>
                <br><br>
              </div>
            </div>
            <hr>
          <% end %>

          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
   	</div><!--/col-12-->
  </div>
</div>
